<html>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
*{
margin:0;
padding:0;
}
.wrapper { 
width: Hug (1,306px)
height: Hug (62px)
top: 33px
left: 69px
gap: 166px
}
.hear {
    width: 353px
height: 219px
top: 172px
left: 69px

}


